// //fonts 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}

$font: 'Barlow Condensed', sans-serif;

//sizing
$fontXxl:3.5em;
$fontXl:2.5em;
$fontMd:2em;
$fontSm:1.5em;
$fontXs:1em;

//weight
$f-weight3: 300;
$f-weight4: 400;
$f-weight5: 500;