#footer{
	grid-area: footer;
	.footer{
		background-color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.icono-footer{
			padding-top: 10px;
			align-self: center;
			width: 40px;
			height: auto;
		}
		.slogan-footer{
		padding-bottom: 20px;
		align-self: center;
		width: 200px;
		height: auto;
		}	
	}
	.footer-redes{
		background-color: $white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.red-social{
			margin: 0 10px;
			margin-top: 5px;
			margin-bottom: 15px;
			width: 40px;
			height: auto;
			align-self: center;
		}
	}
}

